<div class="component">
    <ul class="component__items">
        <li>
            <h1 class="component__emoji">{%EMOJI%}</h1>
        </li>
        <li>
            <h3 class="component__title">{%NAME%}</h3>
        </li>
        <li>
            <p class="component__description">{%DESCRIPTION%}</p>
        </li>
        <li>
            <p class="component__price">{%PRICE%}$</p>
        </li>
        <li>
            <a class="component__url" href="/component?id={%ID%}">Details</a>
        </li>
    </ul>
</div>
